# Default is to not track ...
*

# Allow sources and output subdir, but just to add .keep files.  But by default exclude contents.
!/output
!/sources
/output/*
/sources/*

# But, these are the files which actually get tracked.
!/.gitignore
!/build.py
!/build.rb
!/fingerprint.bat
!/fingerprint.sh
!/LICENSE
!/MD5SUM.txt
!/output/.keep
!/README.md
!/SHA1SUM.txt
!/SHA256SUM.txt
!/sources.txt
!/sources/.keep
!/transfer.bat
!/workspace.code-workspace

